<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">Welcome to our MEAN Authentication App</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js/Express server which hosts our API for registering and loging in</p>
  </div>
  <div class="col-md-4">
    <h3>Angular</h3>
    <p>Angular used to create our frontend for this MEAN Authentication app</p>
  </div>
  <div class="col-md-4">
    <h3>JWT token</h3>
    <p>Authentication using JSON web tokens, local storage and angular jwt</p>
  </div>
</div>